html {
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: #FFFAF0;
    color: #2D1B14;
    line-height: 1.6;
}

button, input {
    font-size: inherit;
}

/*----------Landing Page--------------*/


/*Barra de navegación*/

.bar {
    position: fixed;
    background-color: #FFFAF0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #D4A373;
    z-index: 99;
    height: 80px;
}

.bar .enlase-inicio {
    max-width: 60px;
    width: 100%;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
    transition: 0.5s ease;
}

.bar .enlase-inicio:hover{
    scale: 1.05;
}

.bar .enlase-inicio img{
    width: 100%;
    object-fit: contain;
}

.bar .opciones-botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
}

.bar .opciones-botones .a-btn{
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #F5E0B7;
    color: inherit;
    transition: 0.5s ease;
}

.bar .opciones-botones .a-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px #2D1B1426;
    background-color: #e4c9a5;
}



/*Seccion Inicio*/

main {
    padding-top: 80px;
}

.section-inicio {
    background-image: url(/img/landingPage/FondoPrincipal.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.section-inicio .tranparenciaOscura{
    background-color: #000a;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 5px;
}

.section-inicio .tranparenciaOscura .contenedor-contenido {
    max-width: 800px;
    width: 100%;
    min-height: 100 svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .titulo {
    color: #FFFAF0;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px #000;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .description-principal{
    color: #FFFAF0;
    text-align: center;
    text-shadow: 0 0 10px #000;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .mini-cualidades {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .mini-cualidades .cualidad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .mini-cualidades .cualidad img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .mini-cualidades .cualidad p{
    color: #FFFAF0;
    text-align: center;
    text-shadow: 0 0 10px #000;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .principal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .principal-buttons .a-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.5s ease;
    text-decoration: none;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .principal-buttons .a-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 10px #2D1B1426;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .principal-buttons #btn1 {
    background-color: #E67E22;
    color: #FFFAF0;
}

.section-inicio .tranparenciaOscura .contenedor-contenido .principal-buttons #btn2 {
    background-color: #FFFAF0;
    color: #E67E22;
} 



/*Seccion Explora*/

.section-explora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 120px 10px;
}

.section-explora h2{
    font-size: 2rem;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
}

.section-explora .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px 10px;
    width: 100%;
}

.section-explora .contenido .target{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid #D4A373;
    padding: 30px 15px;
    border-radius: 8px;
    transition: 0.5s ease;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
    width: 320px;
    height: 320px;
}

.section-explora .contenido .target:hover{
    scale: 1.05;
}

.section-explora .contenido .target img{
    max-width: 300px;
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: auto;
}

.section-explora .contenido .target .contenido-textual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-explora .contenido .target .contenido-textual h3 {
    text-align: center;
    font-size: 1.5rem;
}

.section-explora .contenido .target .contenido-textual p {
    text-align: center;
}


/*Section Funcionamiento*/


.section-funcionamiento {
    background-color: #FFF4E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 120px 10px;
}

.section-funcionamiento h2{
    font-size: 2rem;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
}

.section-funcionamiento .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px 10px;
    width: 100%;
}

.section-funcionamiento .contenido .target{
    background-color: #FFFAF0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 30px 15px;
    border-radius: 8px;
    transition: 0.5s ease;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
    width: 320px;
    height: 320px;
}

.section-funcionamiento .contenido .target:hover{
    scale: 1.05;
}

.section-funcionamiento .contenido .target img{
    max-width: 300px;
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: auto;
}

.section-funcionamiento .contenido .target .contenido-textual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-funcionamiento .contenido .target .contenido-textual h3 {
    text-align: center;
    font-size: 1.5rem;
}

.section-funcionamiento .contenido .target .contenido-textual p{
    text-align: center;
}




/*Seccion contactanos*/

.section-contactanos{
    background-color: #FFF4E0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 50px;
}

.section-contactanos .contenido{
    display: flex;
    background-color: #F2E2C6;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 150px 150px;
    border-radius: 8px;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
    flex-wrap: wrap;
}

.section-contactanos .contenido .contenido-textual{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 350px;
    gap: 25px;
}

.section-contactanos .contenido .contenido-textual h2{
    font-size: 2rem;
}

.section-contactanos .contenido .contenido-textual .a-btn{
    font-size: 1rem;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #E67E22;
    color: #FFFAF0;
    transition: 0.5s;
    text-decoration: none;
}

.section-contactanos .contenido .contenido-textual .a-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px #2D1B1426;
}

.section-contactanos .contenido .div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-contactanos .contenido .div-img img{
    width: 600px;
}


/*Footer*/

footer{
    background-color: #2C2420;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 80px 5px;
    flex-wrap: wrap;
}

footer .text-invitacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
}

footer .text-invitacion img{
    width: 100px;
    object-fit: contain;
}

footer .text-invitacion p{
    color: #FFFAF0;
    text-align: center;
}

footer .formas-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.5s;
}

footer .formas-contacto h3{
    color: #FFFAF0;
    font-size: 1.5rem;
}

footer .formas-contacto .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .formas-contacto .contacto img{
    width: 50px;
    object-fit: contain;
}

footer .formas-contacto .contacto p{
    color: #FFFAF0;
}










/*----------Animaciones--------------*/

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*----------Animaciones--------------*/


@media (max-width: 768px){
    html {
    font-size: 15px;
    }
    .bar{
        padding: 10px;
    }
    .bar .enlase-inicio{
        max-width: 45px;
        width: 100%;
    }
    .bar .opciones-botones{
        gap: 10px;
    }
    .bar .opciones-botones .a-btn{
        padding: 5px;
    }
    .section-inicio .tranparenciaOscura .contenedor-contenido{
        padding: 20px;
    }
    .section-inicio .tranparenciaOscura .contenedor-contenido .titulo {
        font-size: 2.5rem;
    }
    .section-explora h2{
        text-align: center;
    }
    .section-funcionamiento h2{
        text-align: center;
    }
    /*Targeta de contactanos*/
    .section-contactanos .contenido{
        padding: 50px 30px;
    }
    .section-contactanos .contenido .contenido-textual{
        align-items: center;
        text-align: center;
    }
    /*Img de la targeta contactanos*/
    .section-contactanos .contenido .div-img img{
        width: 300px;
    }
    /*Footer*/
    footer{
        gap: 50px;
    }
}


